<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Fiyat Listeleri</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="/">Ana Sayfa</a></li>
            <li class="breadcrumb-item active">Fiyat Listeleri</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Default box -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Fiyat Listeleri</h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
            <i class="fas fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
            <i class="fas fa-times"></i>
          </button>
        </div>
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModel">Fiyat Listesi Ekle</button>
            <button class="btn btn-info mx-2" (click)="exportExcel()">Excel'e Aktar</button>
          </div>
          <div class="col-md-6">
            <div class="form-group offset-6">
              <input
                class="form-control"
                type="search"
                [(ngModel)]="filterText"
                [ngModelOptions]="{standalone: true}"
                placeholder="Aranacak kelime"
                aria-label="Aranacak kelime">
            </div>
          </div>
        </div>
      </div>

      <div class="card-body">
        <table class="table table-hovered" id="excel-table">
          <thead>
            <tr>
              <th>#</th>
              <th>Fiyat Listesi Adı</th>
              <th>İşlemler</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let priceList of priceLists
            | priceListPipe: filterText
            let index = index">
              <td [innerText]="index + 1"></td>
              <td>
                <a [innerText]="priceList.name" routerLink="/price-lists/{{ priceList.id }}" class="btn btn-default">
                </a>
              </td>
              <td>
                <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#updateModel" (click)="getPriceList(priceList)">Fİyat Listesini Güncelle</button>
                <button class="btn btn-danger mx-2" [swal]="deleteSwal" (confirm)="delete(priceList)">Sil</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>


<div class="modal fade" id="addModel" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Fiyat Listesi Ekle</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm">
        <div class="form-group">
          <label for="exampleInputEmail1">Fiyat Listesi Adı</label>
          <input type="text" class="form-control" ngModel name="priceListName" #priceListName required minlength="3" placeholder="Fiyat listesi adı">
        </div>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" [disabled]="!addForm.valid" (click)="add(addForm)">Fiyat Listesi Ekle</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="updateModel" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Fiyat Listesi Güncelle</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #updateForm="ngForm">
        <div class="form-group">
          <label for="exampleInputEmail1">Ürün Adı</label>
          <input type="text" class="form-control" [(ngModel)]="priceList.name" [ngModelOptions]="{standalone: true}" name="productName" #productName required minlength="3" placeholder="Ürün adı">
        </div>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" [disabled]="!updateForm.valid" (click)="update()">Fiyat Listesi Güncelle</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="updateModelCloseBtn">Kapat</button>
      </div>
    </div>
  </div>
</div>


<swal
  #deleteSwal
  title="Sil?"
  text="Fiyat listesini silmek istiyor musunuz?"
  type="question"
  [showCancelButton]="true"
  [focusCancel]="true"
  [swalOptions]="{ confirmButtonText: 'Sil', cancelButtonText: 'Vazgeç' }"
  ></swal>
